<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
   <form action="">
      <div class="main">
        <div class="signbox">
            <div>
              <h5>请使用您的账号密码登录系统</h4>
            </div>
            <div>
              <input class="id" type="text" id="" name="pid"  min="1" max="11" placeholder="请输入账号">
            </div>
            <div class="icon">
              <input class="password" type="password" name="password" placeholder="请输入密码">
              <div class="iconfont">&#xe656;</div>
            </div>
             
            <div class="buttonbox">
              <button class="visited">已经记住</button>
              <button  type="button" class="token">token</button>
            </div>
             <div  class="buttonbox">
                 <button type="button" class="sign">登录</button>
                 <button type="button"  class="login">注册</button>
          </div>
         </div>
         <div class="end">
              <div>
                  Super-CQUPT-Supremarket-Managemnet-System
              </div>
              <div>
                  Designed by XXX
              </div>
         </div>
      </div>
   </form>
   <script src="../public/js/common.js"></script>
   <script src="../public/js/index.js"></script>
</body>
</html>