<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
     text-align: center;
    }
</style>
<body>
    <center>
    <h1>
        hello world!!!
    </h1>
    <button class="clean">清空session</button>
</center>
<script src="../public/js/common.js"></script>
<script>
$('.clean').onclick = ()=>{
    const Outfun = async()=>{
    try{
      const res = await Ajax('post','http://127.0.0.1:3000/api/logout')
      if(res.status == 0){
        alert('退出成功')
      window.location.href='index.html'
      }
    } catch(error){
      console.log(error);
    }
  }
  Outfun()
}
</script>
</body>
</html>